* {
    font-family: 'Roboto', sans-serif;
}

.img-logo {
    width: 12%;
}

.a-nav {
    color: black;   
}
.div-header1{
    margin-top: 180px;
     background-color: #FFDEE9; 
    background-image: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0)),url(./media/switzerland-862870_1920.jpg);
    background-position: center;

}
h1 {
    letter-spacing: 40px;
    font-weight: large;
    font-size: xx-large;
    color: red;

}
.div-title{
    margin-top: 250px;
    
}
.my-img{
    display: flex;
    align-items: end;
    justify-content: start;
    width: 100px;
    height: 70vh;
    background-size: cover;
    margin-left: -10px;
}
.pseudo::before{
    content:'"';
    font-weight: 900px;
    font-size: 70px;
    color: red;
    position: absolute;
    margin: -27px;
}
.pseudo::after{
    font-weight: 900px;
    content:'"' ;
    transform: rotate(180deg);
    font-size: 70px ;
    color: red;
    position: absolute;
    margin: -50px;
    right: 22px;
}

.icons-custom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;   
    flex-direction: column;
    border-bottom: 3px solid darkred; 
    width: 16%;
    position: relative;
}

.icons-custom1 {
   width: 100px;
   font-size: 40px;
   padding-bottom: 10px;
}

.icons-custom::before {
    content: '';
    border-radius: 50%;
    border: 3px solid darkred;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 83px;
    background-color: white;
}
